machine:
  nodeLabels:
    node.longhorn.io/create-default-disk: config
  nodeAnnotations:
    node.longhorn.io/default-disks-config: |
      [
        {
          "name": "nvme",
          "path":"/var/mnt/storage1"
        },
        {
          "name":"ssd",
          "path":"/var/mnt/storage2"
        }
      ]

  kubelet:
    extraMounts:
      - destination: /var/mnt/storage1
        type: bind
        source: /var/mnt/storage1
        options:
          - bind
          - rshared
          - rw
      - destination: /var/mnt/storage2
        type: bind
        source: /var/mnt/storage2
        options:
          - bind
          - rshared
          - rw
  disks:
    - device: /dev/nvme0n1
      partitions:
        - mountpoint: /var/mnt/storage1
    - device: /dev/sdb
      partitions:
        - mountpoint: /var/mnt/storage2

