machine:
  nodeLabels:
    node.longhorn.io/create-default-disk: config
  nodeAnnotations:
    node.longhorn.io/default-disks-config: |
      [
        {
          "name":"ssd",
          "path":"/var/mnt/storage1",
          "allowScheduling": true
        }
      ]

  kubelet:
    extraMounts:
      - destination: /var/mnt/storage1
        type: bind
        source: /var/mnt/storage1
        options:
          - bind
          - rshared
          - rw

  disks:
    - device: /dev/sdb
      partitions:
        - mountpoint: /var/mnt/storage2

