---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-root
stringData:
  password: "#{ mariadb.root_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-password
stringData:
  password: "#{ mariadb.user_password }#"
