---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-root
  labels:
    k8s.mariadb.com/watch: ""
stringData:
  password: "#{ mariadb.root_password }#"
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-password
  labels:
    k8s.mariadb.com/watch: ""

stringData:
  password: "#{ mariadb.user_password }#"
